* {
    font-family: Cascadia Mono;
    font-weight: 300;
    font-size: 12px;
}

QWidget {
    background-color: #272829;
}

QTextEdit,
QLineEdit,
QPushButton,
QComboBox,
QLabel#loading_label {
    background-color: #272829;
    border: 1px solid #424141;
    border-radius: 2.5px;
    color: #fff6e0;
    padding: 5px;
}

QLabel#image_dict {
    background-color: #272829;
    border: 1px solid #424141;
    border-radius: 2.5px;
    color: #807f7f;
    padding: 5px;
    font-style: italic;
}

QLabel {
    background-color: #111111;
    border: 1px solid #2b2a2a;
}

QPushButton:hover {
    background-color: #19191a;
}

QPushButton:pressed {
    background-color: #0e0f0f;
}

QComboBox:hover {
    background-color: #19191a;
}

QPushButton:disabled,
QLineEdit:disabled,
QComboBox:disabled
{
    background-color: #111111;
    border: 1px solid #424141;
    color: #383736;
}